<!--views/articles/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Article: <%= articlesList.title %></h1>
<div>
  <ul>
  	<li>Author: <%= articlesList.author  %></li>
  	<li>Content: <%= articlesList.content  %></li>
  </ul>
</div>
</body>
</html>

