<!--views/articles/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Daily Planet News</h1>
<h2>Articles index</h2>
<% articlesList.forEach(function(article) { %>
<div>
  <a href="/articles/<%= article.id %>"><%= article.title %></a>
	  <form method="POST" action="/articles/<%=article.id%>?_method=DELETE">
	  	<br>
	      <button>Delete</button>
	   </form>
  <div>
    <%= article.content %>
  </div>
</div>
<% }) %>
</body>
</html>

